[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
aniso8601 = "*"
attrs = "*"
bcrypt = "*"
blinker = "*"
certifi = "*"
click = "*"
distlib = "*"
faker = "*"
filelock = "*"
flask = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
greenlet = "*"
importlib-metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
jinja2 = "*"
jsonschema = "*"
jsonschema-specifications = "*"
mako = "*"
markupsafe = "*"
pipenv = "*"
pkgutil-resolve-name = "*"
platformdirs = "*"
pyjwt = "*"
python-dateutil = "*"
pytz = "*"
referencing = "*"
rpds-py = "*"
six = "*"
sqlalchemy = "*"
typing-extensions = "*"
virtualenv = "*"
werkzeug = "*"
zipp = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
